@model System.Data.DataTable

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    <script src="~/lib/jquery-input-mask/dist/jquery.inputmask.js"></script>
    <script src="~/lib/jquery-input-mask/dist/bindings/inputmask.binding.js"></script>
    <script src="~/lib/jquery-datatables/datatables.min.js" defer></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/clienteScr.js"></script>
</head>
<body>
    <!-- Button trigger modal -->
    <div class="row">
        <div class="col-xxl-8">
            <input type="text" class="form-control" id="pesquisa" oninput="filterGlobal()" placeholder="Pesquisar" />
        </div>
        <div class="col-xxl-4">
            <div class="text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClienteModal">
                    Adicionar novo cliente
                </button>
            </div>
        </div>
    </div>


    <!-- ModalInserir -->
    <div class="modal fade" id="addClienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar novo cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="forAddCliente">
                        <div class="form-group">
                            <label class="label lowOp" for="nomeCliente">Nome do cliente</label>
                            <input type="text" class="form-control" id="nomeCliente" placeholder="Digite..." />

                            <input type="text" class="form-control" id="clienteId" style="display:none"/>
                        </div>
                        <div class="form-group">
                            <div class="form-label">
                                <label class="label lowOp" for="TipoCliente">Tipo do cliente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoCliente" id="pF" value="PF">
                                <label class="form-check-label" for="TipoPessoa1">Pessoa Física</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoCliente" id="pJ" value="PJ">
                                <label class="form-check-label" for="TipoPessoa2">Pessoa Jurídica</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label lowOp" for="telefoneContato">Telefone</label>
                            <input type="text" class="form-control" id="telefoneContato" data-inputmask="'mask': '(99) 99999-9999'" placeholder="Digite..." />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="insert" class="btn btn-primary" onclick="fnInsert()">Adicionar</button>
                    <button type="button" id="update" class="btn btn-primary" onclick="fnUpdate()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabela -->

    <table id="viewValues" class="table table-striped" style="width:100%">
        
    </table>
    
    <button type="button" id="popula" class="btn btn-primary" onclick="fnPopula()">Popula</button>
</body>
